@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.css';

:root {
  --background: #fdf8f6;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
